@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: 'Roboto Slab', sans-serif;
}

:root{
    --mobile: 0;
    --mobile-height:0;
    --link-color: #f8bf2b;
    --hover-color: #bfbc00;
    --thumb-color: rgb(255, 255, 255);
    --thumb-hover-color: #f8bf2b;
    --thumb-background-color: #000205;
    /* --body-bg: url('/assets/background.webp'); */
    /* --body-bg: url('/assets/image.webp'); */
    --complementary: #5f3f1e;
}


/* :root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #3594c7;
    --link-color: #54c0ff;
    --hover-color: #3594c7;
    --thumb-color: black;
    --thumb-hover-color: #3594c7;
    --thumb-background-color: #173960;
    --body-bg: url('/background.jpg');
} */

/* 
:root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #6e3d9f;
    --link-color: #54c0ff;
    --hover-color: #3594c7;
    --thumb-color: black;
    --thumb-hover-color: #3594c7;
    --thumb-background-color: #173960;
    --body-bg: url('/assets/wave-pink.svg')
} */


/* :root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #4ba166;
    --link-color: #57d280;
    --hover-color: #4ba166;
    --thumb-color: black;
    --thumb-hover-color: #57d280;
    --thumb-background-color: #2f4635;
    --body-bg: url('/assets/wave-green.svg')
} */


/* :root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #f5ff54;
    --link-color: #f5ff54;
    --hover-color: #c8b63c;
    --thumb-color: black;
    --thumb-hover-color: #c8b63c;
    --thumb-background-color: #523c1b;
    --body-bg: url('/assets/wave-yellow.svg')
} */

/* 
:root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #727274;
    --link-color: #97979a;
    --hover-color: #727274;
    --thumb-color: black;
    --thumb-hover-color: #727274;
    --thumb-background-color: #292929;
    --body-bg: url('/assets/wave-gray.svg')
} */


/* :root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #c57200;
    --link-color: #eb8800;
    --hover-color: #a65d10;
    --thumb-color: #eb8800;
    --thumb-hover-color: #a65d10;
    --thumb-background-color: #673716;
    --body-bg: url('/assets/wave-brown.svg')
} */




body, html{
    font-family: Roboto;
    width: calc(100vw - 10px);
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    scroll-behavior: smooth;
}


.bg_div{
    width: calc(100vw - 10px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.bdrop-bg{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
}

body{
    padding-top: 32vh;
}


::-webkit-scrollbar {
    width: 10px;
    z-index: 999;
    position: absolute;
    right: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--thumb-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
}


::selection{
    color: white;
    background: black;
}

::-moz-selection{
    color: white;
    background: black;
}



*{
    scroll-margin-top: 14vh;
}


.sec-head, .sec-body, .project, #socials, #navbar, #navbar>a{
    /* border: 2px solid black; */
    /* box-shadow: 4px 4px 0 4px black, */
    /* 12px 12px 0 4px var(--border-color); */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397);
}

#socials-mobile{
    display: none;
}

#navbar-mob{
    display: none;
}


.navbar{
    width: 70vw;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top:0px;
    left: 50vw;
    /* border-radius: 20px; */
    background-clip: padding-box;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

#navbar{
    transition: all 0.5s;
}

.navClose{
    transform: translateX(-50%);
}

.navOpen{
    transform: translateX(-50%);
}

.navbar> a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    /* border-radius: 5px; */
    font-weight: normal;
    font-size: calc(0.85vw + 5px);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 0px white;
    cursor: pointer;
    flex: 1;
}   

.navbar> a:hover{
    background-color: var(--link-color);
}

div> a, report> a, span> a{
    background-color: var(--link-color);
    color: black;
    text-decoration: none;
    padding: 0px 5px;
    transition: all 0.2s;

}

div> a:hover, p> a:hover{
    background-color: var(--hover-color) ;
    color: black;
}

.main{
    width: 60%;
    position: relative;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 3.5%;
    padding-right: 3.5%;
    background: rgba(255, 255, 255, 1);
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    z-index:10;
}

/* .main:first-of-type {
    border-radius: 20px 20px 0 0;
} */

/* #other-main {
    border-radius: 0 0 20px 20px;
} */

.main-content{
    width: 100%;
    height: 50%;
    position: relative;
    /* left: 50vw; */
    /* transform: translateX(-50%); */
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}


.sec-head{
    width: calc(15vw);
    height: auto;
    max-height: 80vh;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: var(--link-color);
    color: black;
    /* color: white; */
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    position: sticky;
    top: 14vh;
}

.sec-head> span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.sec-body{
    height: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: large;
    line-height: 1.75;
    font-size: calc(0.55vw + 5px);
    /* border-radius: 20px; */
    position: relative;
}



#research>.sec-body, #projects>.sec-body{
    background-color: #ffffffcc;
} 



.bdrop{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#photo{
    width: calc(15vw);
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    padding: 10px;
}

#photo-inner{
    width: calc(12vw - 10px);
    height: calc(12vw - 10px);
    /* border-radius: 20px; */
    position: relative;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
}

#profile-img{
    width: calc(12vw - 10px);
    height: calc(12vw - 10px);
    /* border-radius: 20px; */
    top: 0;
    left: 0;
    z-index: 10;
}

.socials-menu{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 60%;
}

.socials-menu>a{
    font-weight: 400;
    font-size: calc(0.5vw + 5px);
    text-decoration: none;
    color: black;
    width: calc(100% - 10px);
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px black;
    transition: all 0.2s;
}

.socials-menu>a:hover{
    background-color: #fcd77c;
    /* transform: translateY(-1px); */
    box-shadow: 1px 1px 1px black;
}




.project {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    /* border-radius: 20px; */
    font-size: 0.9em;
}

.report-icons{
    width: 20px;
    transform: translateY(6px);
}

date{
    opacity: 0.5;
}


.highlights-list {
    list-style-type: none;
    padding-left: 0;
}

.highlights-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.highlights-list li:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1vdmUtcmlnaHQiPjxwYXRoIGQ9Ik0xOCA4TDIyIDEyTDE4IDE2Ii8+PHBhdGggZD0iTTIgMTJIMjIiLz48L3N2Zz4=);
    font-weight: 900;
    position: absolute;
    left: 0;
    color: black;
}


#socials{
    margin-top: 25vw;
    width: 72vw;
    height: 20vh;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #ffffff;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2vh;
    color: black;
    z-index:10;
}

.social-icons> a{
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(1.5vw + 5px);
    /* transform: translateY(-10px); */
}

.social-text{
    font-size: calc(0.8vw + 5px);
}

.email{
    font-size: calc(0.8vw + 5px);
    margin-bottom: 20px;
}

.email> a{
    font-variant: caps;
    letter-spacing: 2px;
}

#video-description{
    width: calc(100vw - 70px);
    margin-top: 10vh;
    position: absolute;
    height: auto;
    padding: 30px;
    text-align: center;
    box-shadow: inset 0px 25px 20px -24px rgb(92, 92, 92);
    z-index:10;
    background-color: white;
}

.social-icon-footer{
    width:30px;
    height: 30px;
}

.heart{
    width: 16px;
    height:16px;
    transform: translateY(2px);
}


#name-container{
    background-color: white;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    display: inline-flex;         
    isolation: isolate;
    will-change: transform;
    backface-visibility: hidden;
}

#name-text{
    backface-visibility: hidden;
    transition: all 0.3s;
}

#name{
    /* cursor: pointer; */
    isolation: isolate;
    cursor: url(/assets/volume.svg), auto;
    width: fit-content;
    padding-right: 30px;
}

#name-container-container:hover #name-text{
    opacity: 0.2;
}

#pronounce{
    position: relative;
    top:10px;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

#volume-button-path{
    fill: black;
    fill-opacity: 0;
    transition: fill-opacity 0.3s ease;
}

.heart{
    fill: red;
    animation: heartbeat 1s infinite;
    transform-origin: center;
    position: relative;
    top:2px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* .github{
    fill: black;
}


.linkedin{
    fill: #0077b5;
}

.twitter{
    fill: #08a0e9;
}

.instagram{
    fill: url(#insta-gradient);
}

.mail{
    fill: #ff0000;
}

.github, .linkedin, .instagram, .twitter, .mail{
    fill-opacity: 0;
    transition: all 0.3s ease;
}

.github:hover, .linkedin:hover, .instagram:hover, .twitter:hover, .mail:hover{
    fill-opacity: 0.4;
} */

.github, .linkedin, .instagram, .twitter, .mail{
    filter: drop-shadow(1px 1px 0px var((--link-color)));
    transform: translateY(0px) translateX(0px);
    transition: transform 0.3s ease, filter 0.1s ease;
}

.github:hover, .linkedin:hover, .instagram:hover, .twitter:hover, .mail:hover{
    transform: translateY(-2px) translateX(-2px);
    filter: drop-shadow(4px 4px 1px var(--link-color));
}

.sitemap{
    background: transparent;
    transition: all 0.3s;
}

.sitemap:hover {
    background: var(--link-color);
}