:root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #3594c7;
    --link-color: #54c0ff;
    --hover-color: #3594c7;
    --thumb-color: black;
    --thumb-hover-color: #3594c7;
    --thumb-background-color: #173960;
    --body-bg: url('/assets/wave-dblue.svg')
}

/* 
:root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #6e3d9f;
    --link-color: #54c0ff;
    --hover-color: #3594c7;
    --thumb-color: black;
    --thumb-hover-color: #3594c7;
    --thumb-background-color: #173960;
    --body-bg: url('/assets/wave-pink.svg')
} */


/* :root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #4ba166;
    --link-color: #57d280;
    --hover-color: #4ba166;
    --thumb-color: black;
    --thumb-hover-color: #57d280;
    --thumb-background-color: #2f4635;
    --body-bg: url('/assets/wave-green.svg')
} */

/* 
:root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #f5ff54;
    --link-color: #f5ff54;
    --hover-color: #c8b63c;
    --thumb-color: black;
    --thumb-hover-color: #c8b63c;
    --thumb-background-color: #523c1b;
    --body-bg: url('/assets/wave-yellow.svg')
} */

/* 
:root{
    --mobile: 0;
    --mobile-height:0;
    --border-color: #727274;
    --link-color: #97979a;
    --hover-color: #727274;
    --thumb-color: black;
    --thumb-hover-color: #727274;
    --thumb-background-color: #292929;
    --body-bg: url('/assets/wave-gray.svg')
} */



body, html{
    font-family: Roboto;
    width: calc(100vw - 10px);
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0px;
    background-image: var(--body-bg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    scroll-behavior: smooth;
    padding-top: 10vh;
}


::-webkit-scrollbar {
    width: 10px;
    z-index: 999;
    position: absolute;
    right: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--thumb-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
}


::selection{
    color: white;
    background: black;
}

::-moz-selection{
    color: white;
    background: black;
}



*{
    scroll-margin-top: 20vh;
}


.sec-head, .sec-body, .project, #socials, #navbar{
    border: 2px solid black;
    box-shadow: 4px 4px 0 4px black,
    12px 12px 0 4px var(--border-color);
}

#socials-mobile{
    display: none;
}

#navbar-mob{
    display: none;
}


.navbar{
    width: 60vw;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top:10px;
    left: 50vw;
    border-radius: 20px;
    background-clip: padding-box;
    z-index: 999;
}

.navClose{
    transform: translateX(-50%);
}

.navOpen{
    transform: translateX(-50%)
}

.navbar> a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: calc(0.85vw + 5px);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 0px white;
    cursor: pointer;
}

.navbar> a:hover{
    background-color: var(--hover-color);
}

div> a, report> a{
    background-color: var(--link-color);
    color: black;
    text-decoration: none;
    padding: 0px 5px;
    transition: all 0.2s;

}

div> a:hover, p> a:hover{
    background-color: var(--hover-color) ;
    color: black;
}

.main{
    width: calc(100vw - 10px);
    position: relative;
    padding-bottom: 30vh;
}

.main-content{
    width: 65%;
    height: 50%;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}


.sec-head{
    width: calc(15vw);
    height: auto;
    max-height: 80vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: sticky;
    top: 14vh;
}

.sec-head> span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.sec-body{
    height: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: large;
    line-height: 1.75;
    font-size: calc(0.6vw + 5px);
    border-radius: 20px;
    position: relative;
}



#research>.sec-body, #projects>.sec-body{
    background-color: #ffffffcc;
} 



.bdrop{
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(10px); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#photo{
    width: calc(15vw);
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    padding: 10px;
}

#photo-inner{
    width: calc(12vw - 10px);
    height: calc(12vw - 10px);
    border-radius: 20px;
    position: relative;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
}

#profile-img{
    width: calc(12vw - 10px);
    height: calc(12vw - 10px);
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 10;
}


.project {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    font-size: 0.9em;
}

date{
    opacity: 0.5;
}


.highlights-list {
    list-style-type: none;
    padding-left: 0;
}

.highlights-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.highlights-list li:before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: black;
}


#socials{
    margin-top: 5vw;
    width: 65%;
    height: 20vh;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40vh;
    color: black;
}

.social-icons> a{
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(1.5vw + 5px);
    transform: translateY(10px);
}

.social-text{
    font-size: calc(0.8vw + 5px);
}

.email{
    font-size: calc(0.8vw + 5px);
    margin-bottom: 20px;
}

.email> a{
    font-variant: caps;
    letter-spacing: 2px;
}
