:root{
    --mobile: 0;
    --mobile-height:0;
}

body, html{
    font-family: Roboto;
    width: 100vw;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0px;
    background-image: url('/assets/bg_new.webp');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::selection{
    color: white;
    background: black;
}

::-moz-selection{
    color: white;
    background: black;
}

#landing-text-mobile{
    display: none;
}

#socials-mobile{
    display: none;
}

#navbar-mob{
    display: none;
}


body{
    padding-top: 30vh;

}


::-webkit-scrollbar {
    width: 12.5px;
    z-index: 999;
    position: absolute;
    right: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*{
    /* border: 1px solid black; */
}

div> a, report> a{
    background-color: #82c9f0;
    color: black;
    text-decoration: none;
    padding: 0px 5px;
    transition: all 0.2s;

}

div> a:hover, p> a:hover{
    background-color: #3594c7 ;
    color: black;
}

.navbar{
    width: fit-content;
    /* height: 5vh; */
    background-color: #ffffff;
    box-shadow: 0px 1px 20px #8ed9ff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top:10px;
    left: 50vw;
    border-radius: 20px;
    background-clip: padding-box;
    z-index: 999;
}

.navClose{
    transform: translateX(-50%);
}

.navOpen{
    transform: translateX(-50%)
}

.navbar> a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: calc(0.85vw + 5px);
    /* background-color: #ffffff; */
    /* transition: all 0.5s; */
    transition: all 0.3s ease;
    box-shadow: 0px 0px 0px white;
    cursor: pointer;
}

.navbar> a:hover{
    /* color: white; */
    /* background-image: url('/assets/bg.jpg'); */
    /* font-weight: bolder; */
    box-shadow: 1px 1px 10px #8ed9ff;
    background-color: #82c9f0;
}

.main{
    width: 100vw;
    /* height: 100vh; */
    position: relative;
    /* padding-top: 33vh; */
    padding-bottom: 30vh;
    /* padding-left: 15vw; */
    /* padding-right: 15vw; */
}

.main-content{
    width: 65%;
    height: 50%;
    /* background-color: #ffffff; */
    /* box-shadow: 0px 1px 20px #8ed9ff; */
    position: relative;
    left: 53vw;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

#landing-text{
    width: 100%;
    padding-top: 2%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* margin-left: auto; */

}


text> span {
    background: #17365486;
    color: white;
    padding: 0px 5px;
    position: relative;
    border-radius: 10px;
}

.bdrop{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

text{
    width: 100%;
    font-size: 3.5vw;
    font-weight: bolder;
    margin-bottom: 6px;
    position: relative;
}

#photo{
    width: calc(15vw);
    height: calc(15vw);
    /* height: 40vh; */
    border-radius: 50%;
    /* border: 15px solid white; */
    /* box-shadow: 0px 1px 20px #8ed9ff; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: ; */
    border: 15px solid white;
    position: relative;
    top: 15px;
}

#photo-inner{
    width: calc(15vw);
    height: calc(15vw);
    border-radius: 50%;
    position: relative;
    background-color: #ffffff70;
    /* top: 15px; */
    /* left: 15px; */
    z-index: -1;
    backdrop-filter: blur(10px);
}

#profile-img{
    width: calc(15vw);
    height: calc(15vw);
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 10;
}


/* 
#connect{
    margin-top: 3vh;
    padding: 20px;
    box-shadow: 0px 1px 20px #8ed9ff;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    font-size: calc(0.6vw + 5px);
    font-weight: bold;
    border: 3px solid white;
    overflow: hidden;
    color: black;
    transition: color 0.6s;
}

#connect:hover{
    color: white;
}


#connect::after{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
	background-color:  #020f5777;
	transform: scale(1.2);
    transform-origin: center;
    transform: translateY(-100%);
    transition-delay: 0.3s;
    border-radius: 5px;
}

#connect::before{
    content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #56b0dd77;
    transform: translateY(-200%);
	transition: all 0.3s;
    border-radius: 5px;
}

#connect:hover::before {
	opacity: 1 ;
	transform: translateY(0);
}

#connect:hover::after {
	opacity: 1;
	transform: translateY(0);
}

#connect> .bdrop{
    border-radius: 0px; 
    z-index: -2;
    background-color: #ffffff;
    transition: all 0.3s;
    backdrop-filter: blur(0);
}

#connect:hover> .bdrop{
    background-color: #ffffff00;
    backdrop-filter: blur(10px); 
}
*/


#connect{
    margin-top: 3vh;
    padding: 20px;
    box-shadow: 0px 1px 20px #8ed9ff;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    font-size: calc(0.6vw + 5px);
    background-color: #ffffffcc;
    border: 6px solid white;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

#connect:hover{
    background-color: #82c9f0cc;
}

/* 
#connect::after{
    content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 3px solid rgba(255,255,255,1);
	transform: scale(1.2);
    transform-origin: center;
    border-radius: 10px;
}

#connect::before{
    content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(255,255,255,1);
	transition: all 0.3s;
    border-radius: inherit;
}

#connect:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

#connect:hover::after {
	opacity: 1;
	transform: scale(1);
}

#connect> .bdrop{
    border-radius: 10px; 
    z-index: -2;
    opacity: 0;
    transform: scale(0.5, 0.5);
    background-color: #ffffff5e;
    transition: all 0.3s;
}

#connect:hover> .bdrop{
    opacity: 1;
    transform: scale(1);
}
 */

.separator{
    width: 100vw;
    text-align: center;
    /* height: 10vh; */
    background-color: #ffffff;
    color: #185072;
    font-size: 3vw;
    font-weight: bolder;
    padding-top: 2vh;
    padding-bottom: 2vh;
}


#socials{
    margin-top: 5vw;
    width: 100vw;
    height: 20vh;
    position: relative;
    /* left: 50vw; */
    /* transform: translateX(-50%); */
    /* height: 10vh; */
    /* background-color: white; */
    border: 15px solid white;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40vh;
    /* padding: 1vh; */
    color: black;
}

.social-icons> a{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(1.5vw + 5px);
    transform: translateY(10px);
}

.social-text{
    font-size: calc(0.8vw + 5px);
}

.email{
    font-size: calc(0.8vw + 5px);
    /* margin-bottom: 10px; */
    margin-bottom: 20px;
}

.email> a{
    font-variant: caps;
    letter-spacing: 2px;
}

.sec-head{
    width: calc(15vw);
    height: auto;
    /* background-color: #ffffffe0; */
    background-color: #ffffffcc;
    color: #021c69;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    border: 15px solid white;
}

.sec-head> span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.sec-body{
    background-color: #ffffffcc;
    height: auto;
    padding: 40px;
    font-size: large;
    line-height: 1.75;
    font-size: calc(0.6vw + 5px);
    border-radius: 20px;
    border: 15px solid white;
    position: relative;
}


.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skill-tag {
    background-color: #021c69;
    color: white;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 0.8em;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    font-size: 0.9em;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

date{
    opacity: 0.5;
}

.highlights-list {
    list-style-type: none;
    padding-left: 0;
}

.highlights-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.highlights-list li:before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: black;
}

/* #left{
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

#right{
    width: 60vw;
    height: 300vw;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: scroll;
} */
