.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: black;
    font-size: 3.5vh;
    cursor: pointer;
    padding-left: 20px;
}

@media (max-width: 900px){
    .main-content{
        width: 90%;
        height: 50%;
        /* background-color: #ffffff; */
        /* box-shadow: 0px 1px 20px #8ed9ff; */
        position: relative;
        left: 50vw;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
    }

    #main-landing > .main-content{
        width: 75%;
        grid-template-columns: 0.35fr 0.65fr;
        left: 53vw;
    }

    .navbar{
        width: 100vw;
    }

    .sec-head{
        font-size: calc(1vw + 10px);
    }

    .sec-body{
        font-size: calc(0.3vw + 10px);
    }

    text> span{
        font-size: calc(2.5vh + 5px);
    }

    #name-bar{
        font-size: calc(3.25vh + 5px);
    }

    #photo{
        width: 20vw;
        height: 20vw;
    }

    #socials{
        width: 100vw;
    }
    
}

@media (max-width: 600px) {

:root{
    --mobile: 1;
    --mobile-height: 100vh;
}

#about> .sec-head{
    position: relative;
    top: 0;
}

.sec-head{
    z-index: 2;
}


body{
    padding-top: 15vh;
    min-height: var(--mobile-height);
}

.navbar{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    row-gap: 30px;
}

.navbar> a{
    width: fit-content;
    font-size: calc(1.5vh + 5px);
}

#navbar-mob{
    display: block;
    transform: translateX(-50%)
}

#navbar{
    top: 11vh;
    transition: all 0.3s;
}

.navClose{
    transform: translateX(-150%);
}

.navOpen{
    transform: translateX(-50%)
}

.menu-toggle{
    display: block;
    width: fit-content;
}

.main{
    padding-bottom: 20vh;
}

#about > .sec-head{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#main-landing{
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
    position: relative;
    top: -10vh;
}

.main-content, #main-landing> .main-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    left: 0;
    row-gap: 5px;
}


#photo, #photo-inner{
    width: 70vw;
    height: 70vw;
}

/* #photo-inner{
    background-color: #ffffff70;
} */

#profile-img{
    width: calc(70vw - 20px);
    height: calc(70vw - 20px);
    /* border: 8px solid white; */
}

#landing-text-mobile{
    display: block;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing-text, #landing-text-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

text, text>span{
    width: fit-content;
    text-align: center;

}

.sec-head, .sec-body, #socials-mobile, #navbar-mob{
    /* border: 1px solid rgba(255, 167, 167, 0.5); */
    border: 2px solid black;
    /* box-shadow: 5px 5px 15px rgba(255, 167, 167, 0.8); */
    box-shadow: 0px 4px 0 4px black,
    0px 12px 0 4px #ff6600;
}

.project{
    position: relative;
    left:-6px;
}


.sec-head{
    width: 100vw;
    /* border: 10px solid white; */
    font-size: 4.5vh;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 20px;
}

.sec-body{
    width: calc(100vw - 40px);
    /* border: 10px solid white; */
    border-radius: 0;
    padding: 20px;
    font-size: calc(1.5vh + 5px);
    text-align: justify;
}

#connect{
    font-size: calc(1.5vh + 5px);
    /* margin-top: 30px; */

}

#landing-text-cont{
    display: none;
}

#socials{
    display: none;
}

#socials-mobile{
    display: block;
    margin-top: 5vw;
    width: calc(100vw - 4vh);
    /* height: 20vh; */
    position: relative;
    /* left: 50vw; */
    /* transform: translateX(-50%); */
    /* height: 10vh; */
    /* background-color: white; */
    /* border: 15px solid white; */
    background-color: #ffffff;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40vh;
    padding: 2vh;
    color: black;

}

.email{
    font-size: calc(1.5vh + 5px);
}

.social-text{
    font-size: calc(1.5vh + 5px);
}


.social-icons> a{
    font-size: calc(3.5vh + 5px);
}

text> span{
    /* background: #173554c4; */
    background: none;
    /* text-shadow: 0 0 3px #022e49, 0 0 10px #022e49; */
    text-shadow: 4px 0px 10px #173554, 0px 4px 10px #173554, -4px 0px 10px #173554, 0px -4px 10px #173554, 2px 2px 10px #173554, 2px -2px 10px #173554, -2px 2px 10px #173554, -2px -2px 10px #173554;
    line-height: 1.35;
    padding: 0px 0px;
    border-radius: 0%;
    /* color: black; */
}

/* #main-landing{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 15vh;
    background-color: #ffffffcc;
    border:0 solid white;
    border-top-width: 5px;
    border-bottom-width: 5px;
} */





}