@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --mobile: 0;
}

*{
    font-family: 'Roboto Slab';
    letter-spacing: 0.5px;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 10px;
    z-index: 999;
    position: absolute;
    right: 0;
}

::-webkit-scrollbar-track {
    background-color: #28022b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white ;
}


::selection{
    color: white;
    background: black;
}

::-moz-selection{
    color: white;
    background: black;
}

body, html{
    padding: 0;
    margin: 0;
    background: url(/assets/interactive.webp);
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10vh;
    padding-bottom: 10vh;
}



.navbar{
    width: 70vw;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top:0px;
    left: 50vw;
    /* border-radius: 20px; */
    background-clip: padding-box;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

#navbar{
    transition: all 0.5s;
}

.navClose{
    transform: translateX(-50%);
}

.navOpen{
    transform: translateX(-50%);
}


#navbar-mob{
    display: none;
}


.navbar> a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    /* border-radius: 5px; */
    font-weight: normal;
    font-size: calc(0.85vw + 5px);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 0px white;
    cursor: pointer;
    flex: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397);
}   

.navbar> a:hover{
    background-color: #a3b9ff;
}


#main-cont{
    width: 100vw;
}

#main{
    width: 55%;
    min-height: 50vh;
    padding: 50px;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    background: white;
    height: fit-content;
}


.link {
    background-color: #a3b9ff;
    color: black;
    text-decoration: none;
    padding: 2px 5px;
    transition: all 0.2s;
    font-size: 1.15em;
    font-weight: bolder;
}

.link:hover{
    background-color: #7795f8;
}

.desc{
    margin-top: 10px;
}


.project {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    /* border-radius: 20px; */
    font-size: 0.9em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}

#home{
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: calc(2.5vh + 5px);
    aspect-ratio: 1;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: white;
}

.menu-toggle {
    display: none;
    background: #a3b9ff;
    border: 2px solid black;
    color: black;
    font-size: 3.15vh;
    cursor: pointer;
    font-weight: 700;
    margin-right: 13px;
    z-index: 1001;
    /* padding-top: -1px; */
    padding-right: 7px;
    /* padding-bottom: 1px; */
    padding-left: 7px;
    /* border-radius: 10px; */
    position: relative;
}

.bdrop-bg{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    left: 0;
}


@media (max-width: 700px) {
    :root{
        --mobile: 1;
    }

    #main{
        width: calc(100% - 50px);
        padding: 25px
    }

    body{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

        
    .navbar{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        row-gap: 30px;
    }

    .navbar> a{
        width: 100%;
        font-size: calc(1.5vh + 5px);
        margin:0px;
        padding-left: 0;
        text-transform: uppercase;
        transition: all 0s;;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.397);
    }

    .navbar> a:hover{
        border: 0px solid white;
    }

    #navbar-mob{
        top:-6px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        transform: translateX(-50%);
        background: transparent;
    }

    #navbar{
        width: calc(100vw + 20px);
        top: 9vh;
        transition: all 0.5s;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navClose{
        transform: translateX(150%);
    }

    .navOpen{
        transform: translateX(-50%)
    }

    .menu-toggle{
        display: block;
        width: fit-content;
    }


}


@media (max-width: 1000px){

    .navbar{
        width: 100vw;
    }
    
}

