@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+3');


::-webkit-scrollbar {
    width: 0px;
    z-index: 999;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 125%;
    /* letter-spacing: 1px; */
    font-family: 'Source Sans 3';
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-behavior: smooth;
    color: var(--shadow);
}

:root{
    --margin: 17.5vw;
    --card-width: 20vw;
    --middle-gap: 5vw;
    --card-height: 72vh;



    --main: #e0e0e0;
    --inset: #e0e0e0;
    --shadow: black;

    /* --shadow: #1f1f1f; */

    --link: #756060;
}
