
body{
    background-color: var(--main);
}

.content{
    position:absolute;
    left: calc(var(--margin) + var(--card-width) + var(--middle-gap));
    width: calc(100vw - var(--margin) - var(--card-width) - var(--middle-gap) - var(--margin));
    height: var(--card-height);
    top: calc((100vh - var(--card-height))/2);
    padding:5vh;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: var(--main);
    box-shadow:-1px -1px 0px var(--inset) inset, 15px 15px 0px var(--shadow), 15px 15px 0px var(--inset) inset;

    /* width: !important 100vw;
    min-height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
}

.content_body{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
    font-size: calc(0.35vw + 10px);
    line-height: 1.75;
}


.title{
    font-size: calc(1.5vw + 10px);
    /* font-weight: bold; */
    font-family: 'Playfair Display';
    margin-bottom: 3vh;
    text-decoration: underline double 10%;
    background-color: transparent;
}


a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}



#about{
    transform: translateY(0vh);
    transition: transform 1s;
}

#research{
    transform: translateY(100vh);
    transition: transform 1s;
}

#cv-cont{
    transform: translateY(200vh);
    transition: transform 1s;
    margin-bottom: calc((100vh - var(--card-height))/2);
}